
@use 'globals';
@use 'mixintitulos';
@use 'vartexto';
@use 'extend';

h1 {
  @include mixintitulos.estilos-h1;
  color: darkgoldenrod;
 
  h3 {
    @include mixintitulos.estilos-h3;
  }

  a {
    cursor: pointer;
    border: none;
    color:darkgoldenrod ;
  } 

}


//PRODUCTOS
.card {
    background: rgb(253, 247, 247);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
  
  
  &:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }
  
  &:a {
    text-decoration: none;
  }
}